/* ==UserStyle==
@name           YouTube Lesser Rounding
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A userstyle to make the rounding of objects like the like buttons uniform and less round.
@author         aoqia
==/UserStyle== */

@-moz-document domain("youtube.com") {
	html {
		--yt-img-border-radius: 8px !important;
	}
	
	/* YouTube Loading Placeholders */
	
	.masthead-skeleton-icon {
		border-radius: var(--yt-img-border-radius);
	}
	
	/* YouTube Top Bar */
	
	#search-icon-legacy.ytd-searchbox {
		border-radius: 0 var(--yt-img-border-radius) var(--yt-img-border-radius) 0;
	}
	
	#container.ytd-searchbox {
		border-radius: var(--yt-img-border-radius) 0 0 var(--yt-img-border-radius);
	}
	
	yt-icon-button.ytd-masthead:hover,
	ytd-topbar-menu-button-renderer.ytd-masthead:hover,
	ytd-notification-topbar-button-renderer.ytd-masthead:hover {
		border-radius: var(--yt-img-border-radius);
	}
	
	yt-img-shadow.ytd-topbar-menu-button-renderer {
		border-radius: var(--yt-img-border-radius);
	}
}
